﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="404.aspx.cs" Inherits="MaagareyArchive._404" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div style="margin:20px">
    <asp:Label ID="lblMessage" runat="server" Font-Size="20px" Font-Bold="true" />

    </div>
</asp:Content>
