﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="ExterminatedHistoryAndRequiering.aspx.cs" Inherits="MaagareyArchive.ExterminatedHistoryAndRequiering" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table style="padding:20px;margin:20px;border-spacing:30px">
 
         <tr>
            <td> <asp:Button Text="המלצה לגריסה" ID="btnExterminateRequiering" class="button1" runat="server"  OnClick="btnExterminateRequiering_Click"  /></td>
        </tr>
         <tr>
            <td> <asp:Button Text="היסטוריית גריסות" ID="btnExterminateHistory" class="button1"  runat="server" OnClick="btnExterminateHistory_Click" /></td>
        </tr>
        </table>
</asp:Content>
