﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="MainPage.aspx.cs" Inherits="MaagareyArchive.MainPage" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div runat="server">


    </div>
  <%--  <table style="padding:20px;margin:20px;border-spacing:40px">
        <tr>
            <td> <asp:Button Text="חיפוש והזמנת חומר" ID="btnSearchOrderMaterial" class="button1" runat="server" OnClick="btnSearchOrderMaterial_Click"/></td>
        </tr>
         <tr>
            <td> <asp:Button Text="פינויים ואספקות" ID="btnOrderSupplieAndCollecting" class="button1" runat="server" OnClick="btnOrderSupplieAndCollecting_Click" /></td>
        </tr>
         <tr>
            <td> <asp:Button Text="שליחת הודעה לארכיון" ID="btnSendMessageToArchive" class="button1" OnClick="btnSendMessageToArchive_Click" runat="server" /></td>
        </tr>
         <tr>
            <td> <asp:Button Text="דוחות" ID="btnReports" class="button1"  runat="server"  OnClick="btnReports_Click"/></td>
        </tr>
        <tr>
            <td> <asp:Button Text="הסטורית גריסות והמלצה לגריסה" ID="btnExterminateHistoryAndRequiering" class="button1"  runat="server" OnClick="btnExterminateHistoryAndRequiering_Click"  /></td>
        </tr>
    </table>--%>
   
</asp:Content>
