﻿
body {
      color: #333333;
  font-family: Alef, arial;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  direction: rtl;
}

.dvRight
{
 width: 430px;
    margin-bottom: 0;
    background-color: #5f9827;
	height: 100%;
	min-height: 768px;
    border-radius: 4px;
    margin-top: 0;
        padding-top: 20px;
  }

.dvLeft
{

}
.dvLogin  {
  background-color: #fff;
  max-width: 62%;
  height:252px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;

}

.dvLoginBody
{
        padding: 100px 10px 0px 10px;
}

 .dvRight h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 3px;
  margin-top: 20px;
 text-align: center;
}
.dvRight h2 {
  font-size: 30px;
  margin-top: 0;
  text-align: center;
    font-weight:normal;
}
.dvLogin h1 {
    font-size: 43px;
    font-weight: 600;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 0;
}
.dvLogin h2 {
        font-weight: 500;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 14px;
}
.form-control{
    box-sizing: border-box;
    /*margin-bottom: 15px;*/
    font-size: inherit 16px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 4px;
    border-right: 2px solid #5f9827 !important;
    height: 34px;
    width:100%;
    padding-right:10px ;
}
.btnLogin
{
        margin-top: 1px;
        color: #FFFFFF;
    background-color: #7bb246;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: 600; */
    text-transform: uppercase;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border-width: 0 !important;
    overflow: hidden;
    position: relative;
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    text-shadow: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    float: left !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}
.btnLogin:hover{

        background-color: #5f9827;
}
.dvContent{
    width: 50%;
    float: right;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 55px;
}

.dvContent h3 {
    color: #5f9827;
        font-size: 23px;
        font-weight: 300;
            margin-top: -202px;
    margin-bottom: 10px;
    line-height: 1.1;

}
.divWaiting{
   
position: absolute;
background-color: #FAFAFA;
z-index: 2147483647 !important;
opacity: 0.8;
overflow: hidden;
text-align: center; top: 0; left: 0;
height: 100%;
width: 100%;
padding-top:20%;
} 

