.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.915039;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.915039;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.881836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.881836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.927246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.927246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(51,153,102);}
.fs1{font-size:44.000000px;}
.fs2{font-size:64.000000px;}
.fs0{font-size:112.000000px;}
.y7{bottom:2.953998px;}
.yc{bottom:3.331000px;}
.y3{bottom:13.391003px;}
.y0{bottom:24.000000px;}
.y6{bottom:26.730999px;}
.y4{bottom:28.350014px;}
.y2{bottom:34.332001px;}
.y5{bottom:39.191998px;}
.y21{bottom:128.012040px;}
.y20{bottom:152.558000px;}
.y1f{bottom:250.742021px;}
.y1e{bottom:309.652016px;}
.y1d{bottom:324.402016px;}
.y1c{bottom:339.152016px;}
.y1b{bottom:353.902016px;}
.y1a{bottom:368.652016px;}
.y19{bottom:383.402016px;}
.y18{bottom:398.152016px;}
.y17{bottom:412.902016px;}
.y16{bottom:427.652016px;}
.y15{bottom:442.402016px;}
.y14{bottom:457.152016px;}
.y13{bottom:471.902016px;}
.y12{bottom:486.652016px;}
.y11{bottom:501.402016px;}
.y10{bottom:516.152016px;}
.yf{bottom:530.902016px;}
.ye{bottom:545.652016px;}
.yd{bottom:560.402016px;}
.yb{bottom:575.152016px;}
.ya{bottom:630.426026px;}
.y9{bottom:655.712024px;}
.y8{bottom:713.493023px;}
.y1{bottom:745.855022px;}
.hb{height:16.750000px;}
.h9{height:17.000000px;}
.h6{height:29.841797px;}
.ha{height:31.496094px;}
.h7{height:32.033203px;}
.h4{height:45.812500px;}
.h8{height:46.593750px;}
.h5{height:48.349998px;}
.h2{height:60.595001px;}
.h3{height:80.171875px;}
.h1{height:795.000000px;}
.h0{height:841.900024px;}
.w4{width:55.500000px;}
.w3{width:171.500000px;}
.w5{width:213.500000px;}
.w1{width:556.000000px;}
.w2{width:595.299965px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x0{left:15.500000px;}
.x10{left:19.605000px;}
.x12{left:26.222001px;}
.xa{left:51.900002px;}
.xb{left:71.310004px;}
.x4{left:76.516002px;}
.x11{left:84.221999px;}
.x6{left:96.586002px;}
.x9{left:100.499002px;}
.x8{left:103.270000px;}
.xe{left:185.263999px;}
.x13{left:204.293997px;}
.x2{left:210.452995px;}
.xc{left:221.900002px;}
.x5{left:264.644997px;}
.xd{left:275.900002px;}
.x14{left:397.614998px;}
.x16{left:410.232002px;}
.x7{left:413.542000px;}
.x15{left:437.575996px;}
.x3{left:439.561989px;}
.xf{left:487.900002px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.666667pt;}
.fs2{font-size:85.333333pt;}
.fs0{font-size:149.333333pt;}
.y7{bottom:3.938663pt;}
.yc{bottom:4.441334pt;}
.y3{bottom:17.854670pt;}
.y0{bottom:32.000000pt;}
.y6{bottom:35.641332pt;}
.y4{bottom:37.800018pt;}
.y2{bottom:45.776001pt;}
.y5{bottom:52.255998pt;}
.y21{bottom:170.682720pt;}
.y20{bottom:203.410666pt;}
.y1f{bottom:334.322694pt;}
.y1e{bottom:412.869354pt;}
.y1d{bottom:432.536021pt;}
.y1c{bottom:452.202688pt;}
.y1b{bottom:471.869354pt;}
.y1a{bottom:491.536021pt;}
.y19{bottom:511.202688pt;}
.y18{bottom:530.869354pt;}
.y17{bottom:550.536021pt;}
.y16{bottom:570.202688pt;}
.y15{bottom:589.869354pt;}
.y14{bottom:609.536021pt;}
.y13{bottom:629.202688pt;}
.y12{bottom:648.869354pt;}
.y11{bottom:668.536021pt;}
.y10{bottom:688.202688pt;}
.yf{bottom:707.869354pt;}
.ye{bottom:727.536021pt;}
.yd{bottom:747.202688pt;}
.yb{bottom:766.869354pt;}
.ya{bottom:840.568035pt;}
.y9{bottom:874.282698pt;}
.y8{bottom:951.324031pt;}
.y1{bottom:994.473363pt;}
.hb{height:22.333333pt;}
.h9{height:22.666667pt;}
.h6{height:39.789062pt;}
.ha{height:41.994792pt;}
.h7{height:42.710938pt;}
.h4{height:61.083333pt;}
.h8{height:62.125000pt;}
.h5{height:64.466665pt;}
.h2{height:80.793335pt;}
.h3{height:106.895833pt;}
.h1{height:1060.000000pt;}
.h0{height:1122.533366pt;}
.w4{width:74.000000pt;}
.w3{width:228.666667pt;}
.w5{width:284.666667pt;}
.w1{width:741.333333pt;}
.w2{width:793.733287pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x0{left:20.666667pt;}
.x10{left:26.140000pt;}
.x12{left:34.962667pt;}
.xa{left:69.200002pt;}
.xb{left:95.080005pt;}
.x4{left:102.021336pt;}
.x11{left:112.295998pt;}
.x6{left:128.781336pt;}
.x9{left:133.998670pt;}
.x8{left:137.693334pt;}
.xe{left:247.018665pt;}
.x13{left:272.391996pt;}
.x2{left:280.603994pt;}
.xc{left:295.866669pt;}
.x5{left:352.859996pt;}
.xd{left:367.866669pt;}
.x14{left:530.153330pt;}
.x16{left:546.976003pt;}
.x7{left:551.389333pt;}
.x15{left:583.434662pt;}
.x3{left:586.082652pt;}
.xf{left:650.533335pt;}
}
