﻿body {
    color: #333333;
    font-family: Alef, arial;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 15px;
    direction: rtl;
}

@media print {
    #Header, #Footer { display: none !important; }
}
td {
    cursor: pointer;
}

.hover_row {
    background-color: rgba(161, 255, 97, 0.57);
}

h1 {
    width: 100%;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-right-radius: 16px;
    padding-right: 21px;
    color: #031E6E;
    font-size: 21px;
    border-bottom-color: rgba(0, 36, 138, 0.36);
}

.h1_sub {
    width: 100%;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-right-radius: 16px;
    padding-right: 21px;
    color: #031E6E;
    font-size: 21px;
    border-bottom-color: rgba(0, 36, 138, 0.16);
}

.dvMasterBackground {
    width: 100%;
    height: 80px;
    background-color: #DADADA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-top: 0px solid rgba(81, 141, 41, 1);
    border-bottom: 6px solid rgba(81, 141, 41, 1);
}

.dvMasterBackgroundPopup {
    width: 100%;
    height: 80px;
    background-color: #DADADA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-top: 0px solid rgba(81, 141, 41, 1);
    border-bottom: 6px solid rgba(81, 141, 41, 1);
}

.dvMainHeaderPopup {
    width: 100%;
    padding-bottom: 0;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}

.dvMainHeader {
    width: 980px;
    padding-bottom: 0;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}

.dvLogo {
    right: 75px;
    position: absolute;
    top: 5px;
    width: 258px;
    height: 148px;
}

.dvLogoPopup {
    right: 8px;
    position: absolute;
    top: 10px;
    width: 258px;
}

.dvCircleBase1 {
    right: -2px;
    width: 57px;
    position: relative;
    top: -11px;
    height: 58px;
}

.dvCircle1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid rgba(96, 96, 96, 1);
    background-color: rgba(81, 141, 41, 1);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    ";
}

.dvCircleBase2 {
    left: -13px;
    width: 40px;
    position: absolute;
    top: -6px;
    height: 40px;
}

.dvCircle2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid rgba(96, 96, 96, 1);
    background-color: rgba(7, 98, 3, 1);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
}

.h1Master {
    font-weight: normal;
    font-size: 27px;
    margin-top: 39px;
}

.h3Master {
    font-weight: normal;
    font-size: 18px;
    margin-top: 42px;
}

.dvISO {
    float: left;
    position: relative;
    top: -17px;
    width: 70px;
    height: 72px;
}

.dvISO_Image {
    width: 66px;
    height: 68px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    overflow: hidden;
}

input[type=submit] {
    /*background:    #285615;
background:    -webkit-linear-gradient(#285615, #93c47d);
background:    linear-gradient(#285615, #93c47d);
border:        1px solid #034d10;
border-radius: 5px;
box-shadow:    2px 2px 0 0 #e5eae3;
color:         #fff;
display:       inline-block;
padding:       8px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   0px 0px 0 #000;
width:         240px;*/
    margin-top: 1px;
    color: #FFFFFF;
    background-color: #5f9827;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 16px;
    /* font-weight: 600; */
    text-transform: uppercase;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border-width: 0 !important;
    overflow: hidden;
    position: relative;
    border-width: 0;
    padding: 7px 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    text-shadow: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    float: left !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 240px;
    font-weight: bold;
}

    input[type=submit]:hover {
        /*background:    #b6d7a8;
background:    -webkit-linear-gradient(#b6d7a8, #fff);
background:    linear-gradient(#b6d7a8, #fff);
border:        1px solid #034d10;
border-radius: 5px;
box-shadow:    2px 2px 0 0 #38761d;
color:         #000;
display:       inline-block;
padding:       8px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   0px 0px 0 #000;*/
        background-color: #7bb246;
    }

input[type=button]:hover, .btn:hover {
    background-color: #eee;
}

input[type=button], .btn {
    margin-top: 1px;
    color: #5f9827;
    background-color: lightgray;
    -webkit-appearance: button;
    text-transform: uppercase;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-width: 0 !important;
    background-image: none !important;
    filter: none;
    text-shadow: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 240px;
    font-weight: bold;
}

input[type=text], input[type=date], input[type=number], select {
    box-sizing: border-box;
    /*margin-bottom: 15px;*/
    font-size: inherit 16px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(6, 107, 6);
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 4px;
    border-right: 3px solid #5f9827 !important;
    height: 34px;
    width: 100%;
    padding-right: 10px;
}

textarea {
    box-sizing: border-box;
    /*margin-bottom: 15px;*/
    font-size: inherit 16px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(6, 107, 6);
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 4px;
    border-right: 3px solid #5f9827 !important;
    height: 150px;
    width: 100%;
    padding-right: 10px;
}

select {
    box-sizing: border-box;
    /*margin-bottom: 15px;*/
    font-size: inherit 16px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid rgb(6, 107, 6);
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 4px;
    border-right: 3px solid #5f9827 !important;
    height: 34px;
    width: 100%;
    padding-right: 10px;
}

.grid {
    border: solid 1px #cccaca;
    border-collapse: collapse;
    width: 850px;
    align-items: center;
    text-align: center;
    display: inline-table;
    margin-top: 30px;
}

.gridPopup {
    border: solid 1px Tan;
    border-collapse: collapse;
    /*width: 450px;*/
    align-items: center;
    text-align: center;
    display: inline-table;
    margin-top: 30px;
    table-layout: fixed;
}

    .grid td, .gridPopup td {
        border: solid 1px #cccaca;
        margin: 3px 3px 3px 3px;
        font-family: Arial;
        padding: 5px 5px 5px 5px;
        text-align: center;
        border-bottom: solid 3px #0c0c0c;
        word-wrap: break-word;
    }

        .grid td a, .gridPopup td a {
            font-weight: bold;
            border-color: lightgray;
            width: 100px;
            background-repeat: no-repeat;
            /* background-origin: content-box; */
            background-size: 28px;
            background-position-y: 13px;
            color: rgb(6, 8, 6) !important;
            background-position-x: 0px;
            /* -webkit-mask-position-y: 70px; */
            border-radius: 0px;
            min-width: 80px;
            height: 30px;
            word-wrap: break-word;
        }

.header {
    font-weight: bold;
    border-color: lightgray;
    width: 100px;
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-size: 28px;
    background-position-y: 13px;
    color: rgb(6, 8, 6) !important;
    background-position-x: 0px;
    /* -webkit-mask-position-y: 70px; */
    border-radius: 0px;
    min-width: 80px;
    height: 30px;
    background-color: rgba(217, 251, 218, 0.23);
}

.headerAsc {
    font-weight: bold;
    border-color: lightgray;
    width: 100px;
    background-image: url(../images/asc.gif);
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-size: 28px;
    background-position-y: 13px;
    color: rgb(6, 8, 6) !important;
    background-position-x: 0px;
    /* -webkit-mask-position-y: 70px; */
    border-radius: 0px;
    min-width: 80px;
    height: 30px;
    background-color: rgba(217, 251, 218, 0.23);
}

.headerDesc {
    font-weight: bold;
    border-color: lightgray;
    width: 100px;
    background-image: url(../images/desc.gif);
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-size: 28px;
    background-position-y: 13px;
    color: rgb(6, 8, 6) !important;
    background-position-x: 0px;
    /* -webkit-mask-position-y: 70px; */
    border-radius: 0px;
    min-width: 80px;
    height: 30px;
    background-color: rgba(217, 251, 218, 0.23);
}

.sortableHeaderAsc {
    background-image: url(../images/asc.gif);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 35px;
    background-position-y: 4px;
}

.sortableHeaderDesc {
    background-image: url(../images/asc.gif);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 35px;
    background-position-y: 4px;
}

.row {
    background-color: #FFFFFF;
}

.alt {
    background-color: #FFFFFF;
}

.lblBold {
    direction: rtl;
    text-align: right;
    font-weight: bolder;
    font-size: 16px;
}

.dvErrorMessage {
    width: 100%;
    height: 28px;
    color: #d41c1c;
    border-width: 3px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bolder;
}

.dvSucceedMessage {
    width: 100%;
    height: 28px;
    color: rgba(81, 141, 41, 1);
    border-width: 3px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: bolder;
}

.customerAgreement {
    width: 120px !important;
}

.divWaiting {
    position: absolute;
    background-color: #FAFAFA;
    z-index: 2147483647 !important;
    opacity: 0.8;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    padding-top: 20%;
}

.dvInputFiles {
    width: 746px;

    min-height: 230px;
    height: 100%;
        border-top: 4px solid #e0f5fd;
    border-left: 8px solid #e0f5fd;
    border-right: 4px solid #8ddfff9c;
    background-color: #e0f5fd;
    border-bottom: 8px solid #8ddfff9c;
    padding: 10px;
    margin-top: 78px;
}

.dvInputBoxes {
    float: left;
    width: 212px;
    height: 500px;
    border-top: 4px solid #5f9827;
    border-left: 8px solid #5f9827;
    border-right: 4px solid rgba(81, 141, 41, 1);
    background-color: rgba(99, 199, 0, 0.77);
    border-bottom: 8px solid #5f9827;
    border-radius: 46px;
    position: absolute;
    bottom: 38px;
}

.lbInputDataFileID {
    text-decoration: none;
    color: green;
    font-size: 19px;
    font-weight: bold;
}

    .lbInputDataFileID:hover {
        text-decoration: none;
        color: green;
        font-size: 19px;
        font-weight: bold;
        border-bottom: 3px solid #5f9827;
    }

.lbSelectBoxBuffer {
    text-decoration: none;
    color: green;
    font-size: 14px;
    font-weight: bold;
}

    .lbSelectBoxBuffer:hover {
        text-decoration: none;
        color: green;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 3px solid #5f9827;
    }

#blinkDiv {
    visibility: hidden;
}

    #blinkDiv.blinking {
        visibility: visible;
    }

.tbDeliveryreport {
    background-color: lightgray;
}

.sortAsc {
    background-image: url(../images/asc.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    cursor: pointer;
    /*width:200px;*/
    word-wrap: break-word;
        border-left-color: #f6fef6;
    border-right-color: #f6fef6;
}

.sortDesc {
    background-image: url(../images/desc.gif);
    background-repeat: no-repeat;
    background-position: center bottom;
    cursor: pointer;
    /*width:200px;*/
    word-wrap: break-word;
        border-left-color: #f6fef6;
    border-right-color: #f6fef6;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 2px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 34px;
    display: none;
    position: absolute;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: #ffffff;
        padding: 14px 8px;
        text-decoration: none;
        display: block;
        background-color: #5f9827e6;
        font-weight: bold;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #5f9827;
            ;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.se-pre-con {
	width: 20px;
	height: 20px;
	z-index: 9999;
	background: url(../images/ajax-loader1.gif) center no-repeat #fff;
    position:relative;
    right:370px;
    margin-top:5px;
}
.event_tr:hover
{
    background-color:#94d0948f;
}